<head>
    <link href="/favicon.png" rel="icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0/css/bootstrap.min.css"
        rel="stylesheet" />
    <link href="/style.css" rel="stylesheet">
    <script>
        // console.log('head')
    </script>
</head>

<body style="width:800px;padding-top: 80px;margin-left: auto;margin-right: auto;">
    <div id=container class="container" style="padding-bottom: 80px;">
        <div id="topnav">
            <h4 class="mt-5 mb-3" style="color: white;">
                Timo' s online classes
            </h4>
        </div>