{{ partial "head.html" }}

<h2
    style="font-size: 5rem; color: #fef6e4; text-shadow: 5px 5px 0px #172c66, 10px 10px 0px #001858, 15px 15px 0px #f9bc60,20px 20px 0px #ff8e3c, 25px 25px 0px #9656a1;">
    Timo's Nachhilfe</h2>

<div id="about" style="margin-top: 40px;">
    Online Nachhilfe mit folgenden Tools:<br>
    Google Meet<br>
    kollaborative Whiteboards <br><br>

    Meine Qualifikation:<br>
    BWL Studium - Abschluss Dipl.-Kfm. Univ.<br>
    Auslandssemester in Spanien<br>
    Erfahrung mit Online - Nachhilfe

    {{ partial "foot.html" }}

    <script src=/table.js></script>
    <script src=/index.js></script>