body {
    font-family: 'roboto', sans-serif;
    width: 800px;
    padding-top: 80px;
    /* margin-left: auto; */
    /* margin-right: auto; */
}

#yellowtail {
    font-family: 'yellowtail', sans-serif;
    font-size: x-large;
}

#topnav,
#bottomnav a {
    font-size: 17px;
    float: left;
    color: #f2f2f2;
    text-decoration: none;
    padding: 10px 20px;
}

a.active {
    background-color: #04AA6D;
    color: white;
}